---
import { getCollection } from "astro:content";
import Container from "@/components/container/index.astro";
import HeaderSection from "@/components/header-section/index.astro";
import LabCard from "@/components/lab-card/index.astro";
import ScrollmeBanner from "@/components/scrollme-banner/index.astro";

/* const labData = Array.from({ length: 12 }, (_, i) => {
  const image = images[i % 5];
  return {
    data: {
      title: `Lab ${image} ${i + 1}`,
      description:
        "Lorem ipsum dolor sit ersa andesmar de otros que suele haber para saber loa que pasa.",
      order: i,
      image,
    },
  };
}); */

const labData = await getCollection("lab");
---

<section class="bg-sky-900" id="lab">LAB</section>
