---
import Image from "@/components/image/index.astro";

const { data } = Astro.props;
const p = Math.PI / 4;
const maxTopPercent = 20;
const top = Math.round(
  0.5 * maxTopPercent - Math.sin(data.order * p) * 0.5 * maxTopPercent
);
---

<button class="lab-card select-none" id={`lab-card-${data.order}`}>
  <div
    class="lab-card-content bg-white dark:bg-gray-700"
    style={`top: ${top}%`}
  >
    <picture class="block w-full h-full relative">
      <Image
        src="/img/portfolio"
        name={data.image}
        alt={data.title}
        class="object-cover w-full h-full"
      />
      <div class="absolute top-0 left-0 w-full h-full"></div>
    </picture>
  </div>
</button>

<style>
  .lab-card {
    --min-width: 100px;
    --max-width: 500px;

    width: var(--min-width);
    flex: 0 0 var(--min-width);
    height: 100%;

    cursor: inherit;
    transition: all 0.3s 0.1s ease-in-out;
    position: relative;

    .lab-card-content {
      position: absolute;
      left: 0;
      width: 100%;
      height: 80%;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      overflow: hidden;
    }

    img {
      filter: sepia(1) saturate(0.5);
      opacity: 0.4;
      transition: all 0.4s 0.1s ease-in-out;
    }

    &:not(:focus):hover {
      /* transition: all 0.3s ease-in-out;
      width: var(--max-width);
      flex: 0 0 var(--max-width); */

      img {
        filter: sepia(0.5) saturate(1);
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
      }
    }
    &:focus {
      transition: all 0.6s ease-in-out;
      width: var(--max-width);
      flex: 0 0 var(--max-width);

      img {
        filter: sepia(0) saturate(1);
        opacity: 1;
        //transition: none;
      }
    }
  }
</style>
