---
import Card from "@/components/portfolio-card/index.astro";
import Container from "@/components/container/index.astro";
import { getCollection } from "astro:content";
import HeaderSection from "@/components/header-section/index.astro";

const portfolioData = await getCollection("portfolio");
---

<section class="bg-white" id="work">
  <div class="" style="height: 250vh">Portfolio</div>
</section>
