---
import Card from "@/components/portfolio-card/index.astro";
import Container from "@/components/container/index.astro";
import { getCollection } from "astro:content";

const portfolioData = await getCollection("portfolio");
---

<section class="py-12" id="work">
  <Container>
    <header class="flex justify-between items-center mb-10">
      <h2 class="leading-none uppercase text-[9vw]">Trabajos</h2>
      <div class="max-w-48">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
      </div>
    </header>
    <div class="grid grid-cols-2 gap-x-10 gap-y-14 portfolio-grid">
      {
        portfolioData
          .sort((a, b) => a.data.order - b.data.order)
          .map(({ data }) => <Card data={data} />)
      }
    </div>
  </Container>
</section>
