---
import ArrowLeft from "@/icons/arrow-left.astro";
import ArrowRight from "@/icons/arrow-right.astro";
import I18n from "@/i18n/index.astro";

const { hidden, es } = Astro.props;
---

<div
  class={"absolute top-1/2 bg-white/70 text-black backdrop-blur-sm p-3 rounded-full scrollme-banner" +
    (hidden ? " hide-banner" : "")}
>
  <div class="flex items-center">
    <ArrowLeft size={16} />
    <div class="uppercase text-sm font-bold pr-1">
      <I18n es={es} text="scrollbtn.Deslizame" />
    </div>
    <ArrowRight size={16} />
  </div>
</div>

<style>
  .scrollme-banner {
    z-index: 200;
    left: 50%;
    user-select: none;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    transition: opacity 0.3s ease-in-out;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.5);

    .flex {
      animation: scrollme-banner-anim 2s ease-in-out infinite;
    }

    &.hide-banner {
      opacity: 0;
    }
  }
  @keyframes scrollme-banner-anim {
    0% {
      gap: 0;
    }
    50% {
      gap: 10px;
    }
    100% {
      gap: 0;
    }
  }
</style>

<!-- <script>
  import $ from "@/js/utils";

  $.onAstroPageLoad(() => {
    const scrollmeBanner = $.sel(".scrollme-banner");
    if (scrollmeBanner) {
      $.ev(scrollmeBanner).on("mouseover", () => {
        $.cl(scrollmeBanner).add("hide-banner");
      });
    }
  });
</script>
 -->
