---
import Button from "@/components/button/index.astro";
import ArrowLeftIcon from "@/icons/arrow-left.astro";

const { text, href } = Astro.props;
---

<Button
  href={href}
  color="transparent-white"
  className="opacity-80 hover:opacity-100"
>
  <ArrowLeftIcon size={16} />
  <span class="hidden sm:block">{text}</span>
</Button>
