---
import PlayIcon from "@/icons/play.astro";
import Button from "@/components/button/index.astro";
const { src, class: className } = Astro.props;
---

<div
  class={`absolute top-0 left-0 w-full h-full text-white bg-black/40 z-10  grid place-content-center hover:bg-black/60 transition-colors ${className}`}
>
  <Button
    type="button"
    circular
    color="primary"
    title="Ver video"
    data-src={src}
    className="w-24 aspect-square h-auto video-amplitude-lupa"
  >
    <PlayIcon size={52} />
  </Button>
</div>
