---
import Button from "@/components/button/index.astro";
import CloseIcon from "@/icons/close.astro";
import getI18nText from "@/i18n/getI18nText.js";

const { es } = Astro.props;
---

<div
  class="fixed top-0 left-0 w-dvw h-dvh overflow-hidden bg-black/60 backdrop-blur-sm picture-amplitude-modal"
>
  <picture class="w-full h-full picture-amplitude-modal-picture"></picture>

  <Button
    type="button"
    circular
    color="dark"
    title={getI18nText("lupa.Close", es)}
    titlePosition="toBottom"
    className="absolute top-2 right-2 z-50"
    id="close-picture-amplitude-modal"
  >
    <CloseIcon size={30} />
  </Button>
</div>

<style>
  .picture-amplitude-modal {
    z-index: 3000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const pictureLupas = document.querySelectorAll(".picture-amplitude-lupa");
    const mainNav = document.querySelector(".main-nav-btn");
    const pictureAmplitudeModal = document.querySelector(
      ".picture-amplitude-modal"
    );
    const pictureAmplitudeModalPicture = document.querySelector(
      ".picture-amplitude-modal-picture"
    );
    const pictureAmplitudeModalBtnClose = document.getElementById(
      "close-picture-amplitude-modal"
    );

    if (
      pictureLupas.length > 0 &&
      mainNav &&
      pictureAmplitudeModal &&
      pictureAmplitudeModalPicture &&
      pictureAmplitudeModalBtnClose
    ) {
      //
      pictureLupas.forEach((pictureLupa) => {
        const pictureImg = pictureLupa.nextElementSibling; //closest("img");
        if (pictureImg) {
          pictureLupa.addEventListener("click", (e) => {
            e.preventDefault();
            pictureAmplitudeModal.classList.add("show");
            mainNav.classList.add("hidden");
            pictureAmplitudeModalPicture.innerHTML = pictureImg.innerHTML;

            const img = pictureAmplitudeModalPicture.querySelector("img");
            if (img) {
              img.className = "picture-amplitude-modal-picture-img";
              img.style.objectFit = "contain";
              img.style.objectPosition = "center";
              img.style.width = "100%";
              img.style.height = "100%";
            }
          });
        }
      });

      pictureAmplitudeModalBtnClose.addEventListener("click", (e) => {
        e.preventDefault();
        pictureAmplitudeModal.classList.remove("show");
        mainNav.classList.remove("hidden");
      });
    }
  });
</script>
