---
import Button from "@/components/button/index.astro";
import CloseIcon from "@/icons/close.astro";
import getI18nText from "@/i18n/getI18nText.js";

const { es } = Astro.props;
---

<picture
  class="fixed top-0 left-0 w-dvw h-dvh overflow-hidden bg-black/60 backdrop-blur-sm picture-amplitude-modal"
>
  <img
    src=""
    alt=""
    class="relative object-contain w-full h-full shadow-xl picture-amplitude-modal-img"
  />

  <Button
    type="button"
    circular
    color="dark"
    title={getI18nText("lupa.Close", es)}
    titlePosition="bottom"
    className="absolute top-2 right-2 z-50"
    id="close-picture-amplitude-modal"
  >
    <CloseIcon size={30} />
  </Button>
</picture>

<style>
  .picture-amplitude-modal {
    z-index: 3000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const pictureLupas = document.querySelectorAll(".picture-amplitude-lupa");
    const mainNav = document.querySelector(".main-nav-btn");

    if (pictureLupas.length > 0 && mainNav) {
      const pictureAmplitudeModal = document.querySelector(
        ".picture-amplitude-modal"
      );
      const pictureAmplitudeModalImg = document.querySelector(
        ".picture-amplitude-modal-img"
      );
      const pictureAmplitudeModalBtnClose = document.getElementById(
        "close-picture-amplitude-modal"
      );
      //
      pictureLupas.forEach((pictureLupa) => {
        const img = pictureLupa.nextElementSibling; //closest("img");
        pictureLupa.addEventListener("click", (e) => {
          e.preventDefault();
          pictureAmplitudeModal.classList.add("show");
          mainNav.classList.add("hidden");
          pictureAmplitudeModalImg.sizes = img.sizes;
          pictureAmplitudeModalImg.srcset = img.srcset;
          pictureAmplitudeModalImg.alt = img.alt;
        });
      });

      pictureAmplitudeModalBtnClose.addEventListener("click", (e) => {
        e.preventDefault();
        pictureAmplitudeModal.classList.remove("show");
        mainNav.classList.remove("hidden");
      });
    }
  });
</script>
