---
import Button from "@/components/button/index.astro";
import ZoomInIcon from "@/icons/zoom-in.astro";
---

<Button
  type="button"
  circular
  color="dark"
  title="Ampliar imagen"
  className="absolute bottom-1 right-1 z-10 w-8 h-auto aspect-square picture-amplitude-lupa"
>
  <ZoomInIcon size={32} />
</Button>
