---
import ZoomInIcon from "@/icons/zoom-in.astro";
---

<button
  class="absolute bottom-1 right-1 text-white bg-black/40 p-1 rounded-full picture-amplitude-lupa z-10 hover:bg-black hover:p-2 transition-all"
  title="Ampliar imagen"
>
  <ZoomInIcon size={22} />
</button>
