---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/hero/index.astro";
import Portfolio from "@/sections/portfolio/index.astro";
---

<Layout title="Portfolio 2024">
  <main>
    <Hero />
    <Portfolio />
  </main>
</Layout>

<script src="../js/main.js"></script>
