---
const { class: className } = Astro.props;
---

<header class={`flex justify-between items-center ${className}`}>
  <h2 class="leading-none uppercase text-[9vw]">
    <slot />
  </h2>
  <div class="max-w-48">
    <slot name="right" />
  </div>
</header>
