---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const portfolioData = await getCollection("portfolio");
  return portfolioData.map((work) => {
    return {
      params: { slug: work.slug },
      props: { work },
    };
  });
}

const { work } = Astro.props;
const { path, title, description, thumbnail, url, tags, skills, github } =
  work.data;
const { Content } = await work.render();
---

<Layout title={`${title} - Portfolio 2024`}>
  <section class="">
    <div class="max-w-7xl mx-auto px-4 py-6">
      <picture
        class="block aspect-[4/5] max-w-sm"
        transition:name={`work-thumbnail-${path}`}
      >
        <img
          src={`/img/portfolio/${thumbnail}.jpg`}
          alt={title}
          class="object-cover w-full h-full rounded-3xl"
        />
      </picture>
      <Content />
    </div>
  </section>
</Layout>
