---
import Container from "@/components/container/index.astro";
---

<footer class="text-white bg-black">
  <Container>
    <div class="footer-container flex items-center justify-center">
      <div class="">Pablo Cazorla</div>
    </div>
  </Container>
</footer>

<style>
  .footer-container {
    height: var(--footer-height);
  }
</style>
