---
import { ViewTransitions } from "astro:transitions";
import "./base.css";
import Header from "@/components/header/index.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="viewport"
      content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body class="">
    <Header />
    <main class="main-wrap" transition:name="main-wrap">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat-italic.woff2") format("woff2");
    font-style: italic;
    font-display: swap;
  }

  body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background-color: rgb(var(--background-light));
    color: rgb(var(--color-light));
  }
  @keyframes btn-content-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  /*   .h1 {
    font-size: max(4rem, 8vw);
    font-weight: 500;
    line-height: 1.1;
    text-wrap: balance;
    margin-bottom: max(1rem, 1vh);
  }
  .lead {
    font-size: max(1.2rem, 1.2vw);
    line-height: 1.1;
    text-wrap: balance;
  } */

  html,
  body {
    overflow: hidden;
    text-rendering: optimizeSpeed;
    background-color: #000;
  }

  .main-wrap {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    &.open-menu {
      transition: transform 0.5s 0.1s ease-in-out;
      overflow-y: hidden;
      transform: scale(1.1) rotate(15deg);
    }
  }

  section {
    min-height: 100dvh;
    scroll-snap-align: start;
  }
  .container {
    max-width: 82%;
    position: relative;
  }
</style>
